header {
    
}
/*body {
   font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#theForm input[type=submit] {
    background-color: darkseagreen;
    color: ghostwhite;
}

ul.product-props li{
    list-style-type: none;
}*/